@charset "utf-8";
/* 절대로 위의 줄은 1번 줄에 배치 */
/* 글꼴 import 진행 */
@import url("./font/font.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    border: 0;
    vertical-align: middle;
    /*텍스트랑 이미지를 줄맞춤*/
}

.App {
    font-family: "ONE-Mobile-Title", "GmarketSansMedium";
    color: var(--main-white);
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    background-color: var(--main-black);
    caret-color: var(--main-white);
}

/* 드래그 시 색 변화 */
::selection {
    background-color: var(--main-white);
    color: var(--main-black);
}

.red {
    color: var(--main-red);
}

.dis-none {
    display: none;
}

.cursor_p {
    cursor: pointer;
}
/* -------------------------------------- */

/* header */
header {
    border-bottom: 1px solid var(--main-white);
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'GmarketSansMedium';
    background-color: #222;
    position: relative;
    z-index: 99;
}
header .logo_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
header .logo_wrap .themWrap {
    background-color: #474747;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    border-radius: 50px;
    margin-left: 14px;
}
header .logo_wrap .themWrap span {
    font-size: 20px;
    background-color: #474747;
    padding: 4px;
    border-radius: 50px;
    color: #a1a1a1;
    cursor: pointer;
}
header .logo_wrap .themWrap span.choice {
    color: #ffcc3e;
    background-color: #808080;
    box-shadow: 0 0 5px #ffcc3e;
}
header .nav_wrap ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header .nav_wrap ul li a {
    padding: 0 20px;
}
header .nav_wrap ul li a:hover {
    color: var(--main-red);
    transition: all 0.8s;
}
/* -------------------------------------- */