/* 첫화면 라벨 */
#prfLabel {
  position: absolute;
  top: 0;
  right: 10%;
  cursor: pointer;
}
/* index section 프로필과 자막 */
#introduce {
  font-family: "ONE-Mobile-Title";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  width: 100%;
  height: 100%;
}
#introduce .audio_wrap {
  position: relative;
}
#introduce .audio_wrap .profile_img {
  background-color: #eee;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
}
#introduce .audio_wrap .profile_img.shadow {
  box-shadow: 0 0 20px #fff, -20px 0 80px #f0f, 20px 0 80px #0ff, inset 0 0 50px #fff,
    inset 50px 0 80px #f0f, inset -50px 0 80px #0ff, inset 50px 0 300px #f0f,
    inset -50px 0 300px #0ff;
  animation: pulsate 6s linear infinite;
}
#introduce .audio_wrap .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes pulsate {
  0%{opacity: 0;}
  10%{opacity: 1;}
  50% {
    box-shadow: 0 0 20px #fff, 20px 0 80px #f0f, -20px 0 80px #0ff, inset 0 0 50px #fff,
      inset -50px 0 80px #f0f, inset 50px 0 80px #0ff, inset -50px 0 300px #f0f,
      inset 50px 0 300px #0ff;
  }
}
#introduce .audio_wrap .start_img {
  position: absolute;
  top: 60px;
  left: 80px;
  cursor: pointer;
  transition: all 0.8s;
}
#introduce .audio_wrap .start_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#introduce .audio_wrap .start_img .st_opacity {
  opacity: 0;

  /* cursor: default; */
}

#introduce .audio_cnt {
  width: 100%;
  height: auto;
  text-align: center;
}
#introduce .subtitle_wrap {
  margin-top: 40px;
  font-size: 24px;
}
