/* 카테고리 */
.subject_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.subject_wrap .card_wrap {
  margin: 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.subject_wrap .card_wrap:hover .card {
  animation: cardTurn 0.5s 2 alternate;
}
.subject_wrap .card_wrap .card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subject_wrap .card_wrap .card_title {
  position: absolute;
  width: 130px;
  text-align: center;
  line-height: 20px;
}
.subject_wrap .card_wrap .card_explan {
  position: absolute;
  width: 140px;
  text-align: center;
  background-color: #f8efed;
  color: var(--main-black);
  border-radius: 5px;
  padding: 10px;
  top: 0;
  left: 140px;
  z-index: 9;
}
.subject_wrap .card_wrap .card_explan li {
  padding: 5px;
  line-height: 20px;
}

@keyframes cardTurn {
  0% {
    transform: rotateY(0);
  }
  20% {
    transform: rotateY(90deg);
  }
  40% {
    transform: rotateY(0);
  }
  60% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(90deg);
  }
}

/* 방명록 */
#guestBook_wrap .add_btn {
  position: absolute;
  right: 40px;
  bottom: 50px;
  background-color: var(--sub-back);
  border-radius: 50%;
  padding: 5px 6px 3px;
  cursor: pointer;
  z-index: 99;
  box-shadow: 0px 0px 10px var(--main-black);
}

#guestBook_wrap .add_btn .add {
  font-size: 2.5em;
}

.title {
  background-color: var(--sub-back);
  padding: 10px 30px;
  margin-bottom: 20px;
  width: 100%;
}

.title h2 {
  font-size: 24px;
}

#guestBook_wrap .contents_wrap {
  padding: 0 20px;
  font-family: "GmarketSansMedium";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 845px) {
  #guestBook_wrap .contents_wrap {
    justify-content: center;
  }
}

#guestBook_wrap .contents_wrap .content {
  background-color: var(--sub-back);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  margin: 10px;
  height: 125px;
  width: 384px;
  border-radius: 10px;
}

#guestBook_wrap .contents_wrap .content .name {
  margin-bottom: 10px;
  font-weight: 600;
}

#guestBook_wrap .contents_wrap .content .day {
  font-size: 13px;
  align-self: flex-end;
}

/* 방명록 쓰기 */
#guestBook_wrap .form_wrap {
  width: calc(100% - 40px);
  background-color: var(--sub-back);
  padding: 20px;
  border-radius: 10px;
  margin: 30px auto;
}
#guestBook_wrap .form_wrap form {
  width: 100%;
  font-family: "GmarketSansMedium";
}

#guestBook_wrap .form_wrap form div {
  border-bottom: 1px solid var(--main-white);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#guestBook_wrap .form_wrap form div label {
  padding: 10px;
}

#guestBook_wrap .form_wrap form div:nth-child(3) label {
  height: 200px;
}
#guestBook_wrap .form_wrap form div:last-child {
  border-bottom: none;
}
#guestBook_wrap .form_wrap form input,
#guestBook_wrap .form_wrap form textarea {
  background-color: var(--sub-back);
  outline: none;
  border: none;
  width: 100%;
  padding: 4px;
  color: var(--main-white);
  font-size: 18px;
  padding-left: 10px;
  border-left: 1px solid var(--main-white);
}
#guestBook_wrap .form_wrap form div textarea {
  height: 200px;
}
#guestBook_wrap .form_wrap .write_btn {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#guestBook_wrap .form_wrap .write_btn button {
  background-color: var(--main-black);
  color: var(--main-white);
  border-radius: 10px;
  padding: 8px 20px;
  margin: 10px;
  border: none;
  font-size: 16px;
  font-family: "ONE-Mobile-Title";
  cursor: pointer;
}

/* 운세뽑기 */
#luckydraw_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#luckydraw_wrap .lucky_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 450px;
}

#luckydraw_wrap .lucky_wrap .draw {
  margin: 20px;
  cursor: pointer;
}
#luckydraw_wrap .lucky_wrap .draw img.draw_png {
  width: auto;
  width: 200px;
}
#luckydraw_wrap .lucky_wrap .draw img.draw_gif {
  width: auto;
  height: 450px;
}
#luckydraw_wrap .lucky_wrap .txt_wrap {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-left: 20px;
}

#luckydraw_wrap .txt_slide_wrap {
  font-size: 30px;
  background-color: #d9d9d920;
  position: relative;
  width: 100%;
  height: 45px;
  margin: 50px auto;
  box-sizing: border-box;
  overflow: hidden;
  letter-spacing: -0.075em;
}

#luckydraw_wrap .txt_slide_wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to right,
    #222222 0%,
    #22222275 51%,
    rgba(170, 0, 0, 0) 100%
  );
}

#luckydraw_wrap .txt_slide_wrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(170, 0, 0, 0) 0%,
    #22222275 51%,
    #222222 100%
  );
}
.roller {
  position: absolute;
  height: 100%;
}

.roller > ul {
  margin: 0;
  list-style: none;
  padding: 9px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.roller > ul > div {
  padding-right: 30px;
  white-space: nowrap;
}
.roller > ul .slide {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.roller > ul .slide::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.roller > ul .slide li {
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
  margin-right: 20px;
}
.roller > ul .slide li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.roller > ul .original {
  animation: 12s linear infinite infiniteAnimation1;
}
.roller > ul .clone {
  animation: 12s linear infinite infiniteAnimation2;
}
.roller > ul .stop {
  animation-play-state: paused;
}
@keyframes infiniteAnimation1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes infiniteAnimation2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
